---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import WorldMap from "@/icons/WorldMap.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import X from "@/icons/X.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  X,
};
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}
      </span>

      <footer>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar correo electrónico a ${name} al corre ${email}`}
              target="_blank"
              rel="noopener noreferer"
            >
              <Mail />
            </a>
          )
        }

        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llama por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferer"
            >
              <Phone />
            </a>
          )
        }

        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                title={`Visitar perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  @import "@/variables.css";
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  span {
    color: var(--color-terciario);
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-primario);
    text-wrap: balance;
  }

  figure img {
    border-radius: 4%;
    width: 110px;
    height: 144px;
    object-fit: cover;
    transform: rotate(4deg);
    margin-right: 20px;
  }

  footer {
    display: flex;
    gap: 4px;
    margin: 8px 0;
  }
  footer a {
    color: var(--color-terciario);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  footer a:hover {
    color: var(--color-primario);
    background: #eee;
    border: 1px solid var(--color-primario);
  }
</style>
