---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import WorldMap from "@/icons/WorldMap.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import Behance from "@/icons/X.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  Behance,
};

const linkedInfo = profiles.find((p) => p.network === "LinkedIn");
const LinkedUrl = linkedInfo?.url;

const githubInfo = profiles.find((p) => p.network === "GitHub");
const gitHubUrl = githubInfo?.url;

const xInfo = profiles.find((p) => p.network === "Behance");
const xUrl = xInfo?.url;

const printInfo = [phone, email, LinkedUrl, gitHubUrl, xUrl];
// const printInfo = [phone, email, LinkedUrl, gitHubUrl, xUrl];
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}
      </span>

      <div class="print">
        {printInfo.map((i) => i && <p>{i}</p>)}
      </div>
      <footer>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar correo electrónico a ${name} al corre ${email}`}
              target="_blank"
              rel="noopener noreferer"
            >
              <Mail />
            </a>
          )
        }

        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llama por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferer"
            >
              <Phone />
            </a>
          )
        }

        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                title={`Visitar perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  span {
    color: var(--color-terciario);
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-primario);
    text-wrap: balance;
  }

  figure img {
    border-radius: 4%;
    width: 100px;
    height: 140px;
    object-fit: cover;
    transform: rotate(4deg);
  }

  footer {
    display: flex;
    gap: 4px;
    margin: 8px 0;
  }
  footer a {
    color: var(--color-terciario);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-terciario);
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  footer a:hover {
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
  }

  @media (max-width: 400px) {
    .info {
      padding: 0;
    }
  }

  @media print {
    *,
    h1,
    h2,
    h3,
    h4,
    p,
    span {
      color: black;
      background: white;
    }
    footer {
      display: none;
    }
  }
</style>
